
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>#Love</title>

    <link rel='stylesheet' href='/stylesheets/mod/style.css' />

  </head>
  <body>

      <div id="videoBg" class="video-bg"></div>

      <div id="webgl" class="webgl"></div>

      <div id="sideWrapperBg" class="side-wrapper-bg slide"></div>
      <div id="sideWrapper" class="side-wrapper slide">
        <!-- data from socket.js -->
        <div id="dataDiv" class="data-div"></div>
      </div>

      <div id="promoWrapper" class="promo-wrapper slide">
        <div class="promo-wrapper-bg"></div>
        <div class="promo-title-bg"></div>
        <div class="promo-inner">
          <h1>#Love</h1>
          <h2>What is #Love?</h2>
          <p>A live stream that tracks worldwide mentions of <span class="love">#love</span> using npm Twitter, and Twitters streaming API.<br/>
            <br/>
            Anytime anyone, anywhere in the world tweets <span class="love">#love</span> a new heart gets added.<br/>
            <br/>
            All live tweets can be viewed in the panel on the left.</p>

            <a class="transition" href="http://pauliescanlon.io" target="_blank">pauliescanlon.io</a>
        </div>
      </div>

      <div id="playPauseButton" class="fab-button play-pause-button slide">
        <div id="spinner" class="spinner"></div>
        <div id="toggle" class="hide-me toggle">
          <div id="playIcon" class="play-icon hide-me"></div>
          <div id="pauseIcon" class="pause-icon hide-me"></div>
        </div>
      </div>

      <div id="fullScreen" class="fab-button full-screen-button transition">
        <div id="fullScreenOut" class="full-screen-out transition"></div>
        <div id="fullScreenIn" class="full-screen-in transition opac0"></div>
      </div>


    <!-- Node modules -->
    <script  type="text/javascript" src="/socket.io/socket.io.js"></script>

    <!-- Libraries -->
    <script type="text/javascript" src="javascripts/lib/modernizr-custom.js"></script>
    <script type="text/javascript" src="javascripts/lib/typedarray.js"></script>
    <script type="text/javascript" src="javascripts/lib/three.min.js"></script>

    <!-- Modules -->
    <script type="text/javascript" src="/javascripts/mod/utils.js"></script>
    <script type="text/javascript" src="/javascripts/mod/socket.js"></script>

    <script type="text/javascript" src="/javascripts/mod/jsonLoader.js"></script>
    <script type="text/javascript" src="/javascripts/mod/hearts.js"></script>
    <script type="text/javascript" src="/javascripts/mod/environment.js"></script>

    <script type="text/javascript" src="/javascripts/mod/lights.js"></script>
    <script type="text/javascript" src="/javascripts/mod/camera.js"></script>
    <script type="text/javascript" src="/javascripts/mod/renderer.js"></script>
    <script type="text/javascript" src="/javascripts/mod/init.js"></script>


  </body>
</html>
